body {
    font-family: Arial, sans-serif;
    background-image: url('../images/2021051521244130.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.btn1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn1:hover {
    background-color: #0056b3;
}

.btn2 {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    background-color: #ff4d4d;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: 14px;
}
.btn2:hover {
    background-color: #cc0000;
}

.btn-increase {
    background-color: #28a745;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    color: #fff;
}
.btn-increase:hover {
    background-color: #218838;
}

.btn-decrease {
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    color: #fff;
}
.btn-decrease:hover {
    background-color: #e0a800;
}


.btn-delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-danger {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-danger:hover {
    background-color: #c82333;
}

.student-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.stats-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.stats-table th,
.stats-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.student-count {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-top-left-radius: 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.stats-table th {
    background-color: rgba(255, 255, 255, 0.9);
}
